# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
.venv/
venv/

# Ignore results of running
lightning_logs/
results/*
!results/.gitkeep

# Ignore input data
data/*
!data/.gitkeep

# Ignore outputs from hydra
outputs/*